<main>

  <section id="section-banner">
    <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img/banner1.png" class="d-block w-100" alt="Blakestone: Aliens of Gold">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner2.png" class="d-block w-100" alt="New World">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner3.png" class="d-block w-100" alt="Counter-Strike 2">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner4.png" class="d-block w-100" alt="Joe & Mac">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner5.png" class="d-block w-100" alt="Tibia">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <h2>Jogos em Promoção</h2>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo1.png" alt="Super Mario World">

        <mat-card-header>
          <mat-card-title>Super Mario World</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            O melhor jogo ja criado, agora em todas as plataformas
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 300,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo2.png" alt="GoW - Ragnarok">

        <mat-card-header>
          <mat-card-title>God of War - Ragnarok</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Toma.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 200,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo3.png" alt="Bundle 3">

        <mat-card-header>
          <mat-card-title>Super Bundle</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            500 Jogos em um único pacote.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 1400,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo4.png" alt="BS">

        <mat-card-header>
          <mat-card-title>Blake Stone</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Por que o Diskete não foi o suficiente para conter este colosso.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 1000,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo5.png" alt="CS2">

        <mat-card-header>
          <mat-card-title>Counter-Strike 2</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Cançou da paz? Venha para o CS2.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 36,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/jogo6.png" alt="Tibia Coins">

        <mat-card-header>
          <mat-card-title>Tibia Coins</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Upe mais rapido com a Tibia Coin mais barata do MUNDO!!!!!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 149999,00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</main>